header {
    padding: 80px 64px;
    text-align: center;
}



header>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header div:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 448.3px;
}

header h1 {
    color: var(--slate-900);
    font: var(--text-preset-1);
}

header p {
    font: var(--text-preset-4);
    padding: 0 16px;
}

header div:nth-child(3) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 40px;
    gap: 17px;
  

}

header button {
    font: var(--text-preset-5);
    background-color: var(--cyan-600);
    color: var(--white);
    padding: 16px 40px;
    border: none;
    border-radius: 29px;
    font-weight: bold;
}

header button span{
    color: var(--cyan-300);
}

header button:first-child {
    transition: all 0.3s ease-in-out; 
}


header button:first-child:hover {
    background: #71C0D4;
    transition: 0.3s ease-in-out;
}


header button:last-child {
    background-color: var(--purple-600);
    transition: all 0.3s ease-in-out; 
}

header button:last-child:hover {
    background: #B18BDD;
    transition: 0.3s ease-in-out;
}